@page "/Tecnico/Index"
@inject TecnicoService tecnicoService
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*header*@
		<div class="card-header text-center">
			<div class="card-title">Registro</div>
			<button type="button" class="btn btn-outline-primary" href="/Tecnico/Crear">Crear</button>
		</div>
		@*body*@
		<div class="card-body">
			<table class="table"></table>
				<thead>
					<tr>
						<th>Id:</th>
						<th>Nombre:</th>
						<th>Number:</th>
					</tr>
				</thead>

				<tbody>
					@foreach(var plantilla in Lista)
					{
						<tr>
							<td>@plantilla.TecnicoId</td>
							<td>@plantilla.Nombres</td>
							<td>@plantilla.SueldoHora</td>
							<td><a href="/Plantilla/Editar/@plantilla.TecnicoId" class="btn btn-outline-warning">Editar</a></td>
							<td><a href="/Plantilla/Ver/@plantilla.TecnicoId" class="btn btn-outline-secondary">Ver</a></td>
							<td><a href="/Plantilla/Eliminar/@plantilla.TecnicoId" class="btn btn-outline-danger">Eliminar</a></td>
						</tr>
					}
				</tbody>
		</div>
	</div>
</div>

@code {
	public List<Tecnicos> Lista { get; set; } = new List<Tecnicos>();

	protected override async Task OnInitializedAsync()
	{
		Lista = await tecnicoService.Listar(o => o.TecnicoId > 0);
	}

	public async Task Buscar()
	{

	}
}
