@page "/Tecnico/Ver/{TecnicoId:int}"
@inject TecnicosService tecnicosService
@inject NavigationManager navigate
@rendermode InteractiveServer

<PageTitle>Ver</PageTitle>
<div class="container">
	<div class="shadow-lg">
		@*header*@
		<div class="card-header">
			<div class="card-title"><h5>Datos de @tecnicos.Nombres.</h5></div>
		</div>
		<div class="card-body">
			<ul>
				<li><strong>Id: </strong><strong>@tecnicos.TecnicoId</strong></li>
				<li><strong>Nombres: </strong><strong>@tecnicos.Nombres</strong></li>
				<li><strong>Sueldo por hora: </strong><strong>$@tecnicos.SueldoHora.ToString("N2")</strong></li>
			</ul>
		</div>
	</div>
	<div class="card-footer text-center">
		<a href="/Tecnico/Index" class="btn btn-outline-primary">Volver</a>
	</div>
</div>

@code {
	[Parameter]
	public int TecnicoId { get; set; }
	public Tecnicos tecnicos { get; set; } = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		tecnicos = await tecnicosService.Buscar(TecnicoId);
	}
}

